#questionArea{
	min-width: 100%;
	max-width: 100%;
	min-height: 50vh;
	max-height: 60vh;
	margin: auto;
	border-radius: 5px;
	font-size: 1.3em;
}

#testCaseArea{
	float: left;
	width: 90%;
}


#testCase1Area, #testCase2Area, #testCase3Area{
	min-width: 29%;
	max-width: 29%;
	margin: 10px 5px 10px 0px;
	max-height: 10vh;
	border-radius: 5px;
	font-size: 1.3em;
}


#selectDifficulty{
	padding: 5px;
	border-radius: 5px;
	font-size: 0.9em;
}

#addButton{
	margin: auto;
	height: 35px;
	width: 90px;
	font-size: 1em;
	border-radius: 20px;
	display: inherit;
	background-color: #660000;
	color: white;
	float: right;
}

#resetButton{
	margin: auto;
	height: 35px;
	width: 90px;
	font-size: 1em;
	border-radius: 20px;
	display: inherit;
	background-color: #660000;
	color: white;
	float:left;
}
